@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,600i');
@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Magra');



body{
	
overflow-x: hidden;
}
p,li,span,h3{list-style: none; font-family: 'Magra', sans-serif;color:#000000;}
.letra{
	font-size: 60px;
	margin-top: 100px;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}

p{  
	color: #000000;
	font-size: 16px;

}
.titulo{
	font-family: 'Magra', sans-serif;
	background-color: #FFD242;
	text-shadow: 1px 1px 1px #000000;
	padding: 5px;
  	color: #fff;
  	
}
/*menu*/
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar{
	background-color: tomato;
}
.navbar a{
	font-family: 'Magra', sans-serif;
	font-size: 20px;
	margin-right: 10px;

}

.fa-plane{
	color: #fff;
}
/*-----menu------*/
body{
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: auto;
	overflow-x: hidden;
}
/*header fixo*/
.encarte{
	margin-top: 10px;
}
.encarte h2{
	color: #fff;
	font-family: 'Magra', sans-serif;
	padding: 10px;
	text-align: center;
	border-top:solid 2px #000000;
	border-bottom:solid 2px #000000;
	background-image: linear-gradient(to right, #ffc107 0%, #f9d423 100%);
}
.enca_foto{
margin-bottom: 10px;
}
.fundo{
	position: relative;
	background-image: url('../img_encarte/capa2.jpg');
	background-repeat: no-repeat;
	height: 650px;
	width: 100%;
	margin-top: -20px;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	z-index: 1;
	/*animation: BackgroundGradient 60s ease infinite;*/
	
}
/*orientação de rotação da imagem*/
@keyframes BackgroundGradient{
  0%{background-position: 0% 50%;}
  50%{background-position: 100% 100%;}
  100%{background-position: 0% 50%;}
}
/*titulo supermercado*/
.centro{
	position: relative;
	top:50%;
	transform: translateY(-50%);
	widows: 100%;
	text-align: center;

}
.fig{
	position: absolute;
	top:-200px;
	left:450px;
	z-index: 2;
}
.text{
	font-family: 'Merienda', cursive;
	text-shadow: 0px 10px 5px #000000;
	font-size: 2em;
	position: relative;
	margin: 0 auto;
	color:;
	transform: skewY(-8deg);
	/*letter-spacing: -10px;contraindo o texto*/
	
}
.textbloco{
	font-size: 4em;
	line-height: .85;

}
.textbloco i {
	font-size: 40px;
	
}
.super{
	font-size: 40px;
	width: 400px;
	border-top: 7px solid #0174EE;
	border-bottom: 7px solid #0174EE;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
}
.cia{
	color: #603525;
}


/*serviços*/
.comercio{
	position: relative;

}
article{
	margin-top: 70px;

	
	/*background-color: #C5EFF7;*/
}
#quemsomos{
	background-color: #FFD242;
}
#quemsomos p{
	
	height: 400px;
	font-size: 25px;
	margin: 0 auto;
	text-align: center;
}
#quemsomos b{
	color:#6BB9F0  ;
}
.btnloja{
	position: relative;
	top: 20px;
}
.btnloja a{
   background-color: #6BB9F0 ;
   padding: 10px;
   color:#fff;
   text-decoration: none;
   box-shadow: 1px 1px 0px 0px #000000;
}

margin: 0;
}
/*cliente*/
#cliente{
  margin-top: 10px;
  background-color: #;	
}
#cliente .titulo{
	background-color: #FFD242;
	text-shadow: 1px 1px 1px #000000;
	padding: 5px;
  	color: #fff;
}
#cliente h3{
  	color: #000000;
  	text-shadow: 1px 1px 1px #000000;
}

#cliente p{
  	color: #000000;
}
.tel{
	font-size: 25px;
	color:#CC0033;
}
.subtextos h2{
	font-family: 'Magra', sans-serif;
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	text-shadow: 1px 1px 1px #000000;
	border-top:#000000 solid 2px;
	border-bottom:#000000 solid 2px;
	padding: 5px;
  	color: #fff;
}
.subtextos img{/*formatação das imagens no msm tamanho*/
	margin:0 auto;
	height: 247px;
}
.subtextos a{
	
	text-decoration: none;
	cursor: pointer;
}

.thumbnail a{
  font-family: 'Magra', sans-serif;
}
.caption h3{
  font-family: 'Magra', sans-serif;	
}

.btnmodal2 b{
	font-size: 25px;
	position: relative;
	top:16px;
}
.btnmodal2 i{
	color: #fff;
	text-shadow: none;
}

/*promoção*/
/*btn mais promo*/
.panel-heading i{
	color: #fff;
	font-size: 20px;
}
.panel-heading span{
	font-family: 'Magra', sans-serif;
	color: #fff;
	font-size: 20px;
}
/*fim btn*/
.panel-body{
	
	background-color: #ADDDFA;
	
}
.panel-body ul li{
	font-size: 20px;
	background-color: #ADDDFA;
	color: #fff;
	list-style: none;
	
}
.linha{
    color: #fff;
    font-size: 23px;
	text-shadow: 1px 1px 1px #000000;
}
.desc{
	font-size: 25px;
	color: red;
	background-color: #FFD242;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 0px 0px #000000;

}
.table li{
	width: 35%;
}

/*subtitulo promocao de segunda a domingo....*/
.sub_titulos{
	color: #C0FAFA;
	font-size: 30px;
	text-shadow: 1px 1px 1px #000000;
	font-family: 'Magra', sans-serif;
	padding: 5px;
}
/*mapa tradicional*/

/*#map {
	height: 100%;
} 
#btnmapa{
	position: relative;
	width: 240px;
	height: 30px;
	background-color: #fff;
	z-index: 1000;
	top:110px;
	left: 10px;
}  
#btnmapa input{
	margin-left: 5px
}*/
.titulo_mapa{
	font-family: 'Magra', sans-serif;
}
.mapa{
	margin-bottom: 10px;
}
#mapa{

	height: 700px;
}
#mapa h2{
	margin-top: 80px;
}
#mapa p{
	
	color: #000000;
}

#map_wrapper {
    height: 700px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
#map p{
       background-color: #fff;
}
#escondido{
	color: #000000;
}
/*quem somos*/

  /*border-radius: 661px;*/

}

/*dicas*/

#dicas h2{
	font-family: 'Magra', sans-serif;
	text-shadow: 1px 1px 1px #000000;
	color: #000000;
}
#dicas p{
	background-color: #ADDDFA;
	text-shadow: 1px 1px 1px #000000;
	color: #fff;
	padding: 10px;
	font-size: 20px;
	margin-top: 70px;
	border-radius: 10px;
}
/*dicas fim*/
.fundo2{
	height: 300px;
	background-image: url('../img_encarte/capa.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	margin-bottom: -20px;
}
.fundo2 h1{
    color:#fff;
    font-size: 5em;	
    text-shadow: 0 5px 4px rgba(0,0,0,.5);
	font-family: 'Magra', sans-serif;
}
.fundo2 span{
	font-size: 27px;
    color:#fff;
    text-shadow: 0 5px 4px rgba(0,0,0,.5);
	font-family: 'Magra', sans-serif;
}
/*formulario*/
.subtext{
	
	background-color: #17C3F3;
	color:#fff;
	background-color: #B7D3F2;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 0px 0px #000000;
}
.mc-field-group{
	margin-bottom: 10px;
}
.mc-field-group label{
	font-size: 15px;

}
/*tirando caixa do input*/
.mc-field-group input[type="text"],
.mc-field-group input[type="email"]
{
	border:none;
	border-bottom: 1px solid;
	background-color: transparent;
	outline: none;
	

}
/*fim formulário*/
#rodape{
	background-color: #000000;
}
#rodape .img-responsive{
   margin: 0 auto;
}
footer{
	background-color: #000000;
	height: auto;
	margin-top: 20px;
}
footer ul li{
	color: #fff;
	list-style: none;
	font-size: 15px;
	
}
footer h4{
	font-family: 'Magra', sans-serif;
	border-top: solid 1px #fff;
	font-size: 15px;
	color: #fff;
}
footer h5{
	font-family: 'Magra', sans-serif;
	color: #fff;
	font-size: 15px;
	margin-top: 20px;
}
footer p{
    font-size: 15px;
	color: #fff;
}
footer h5{
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-family: 'Magra', sans-serif;

}
footer .col-md-4{
		margin-top: 100px;

}
footer .fim{
   height: auto;
   padding: 10px;
   background-color: #2B2B2B;
}
footer .fim i{
	color: #fff;
	font-size: 40px;
}
.form-group label{
	font-family: 'Magra', sans-serif;
}
/*tirando caixa do input*/
.form-group input[type="text"],
.form-group input[type="email"]
{
	border:none;
	border-bottom: 2px solid #000000;
	background-color: transparent;
	outline: none;
	font-family: 'Magra', sans-serif;

}

/*Colocar o ALT*/
/*img[alt=""],img:not([alt]){border: 5px dashed #ff0000;}*/